{% extends "base_generic.html" %}

{% block content %}
  <h1>Home</h1>
  <div class="card">
    <div class="card-header">
      Welcome to Shoppinglist
    </div>
    <div class="card-body">
      <h5 class="card-title">Different numbers of information</h5>
      <p class="card-text">Items:{{ num_items }}</p>
      <p class="card-text">Stores:{{ num_stores }}</p>
      <p class="card-text">You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    </div>
  </div>
{% endblock %}
